
html {
    height: 100%;
    width: 100%;
}
body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.container {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 32.5rem;
    margin: auto;
    margin-top: 5%;
    left: 3rem;
    position: relative;
    background-position: top;
}

.deck {
  position: relative;
  height: 25rem;
}

.door {
    perspective: 1000px;
    float: left;
    cursor: pointer;
    position: absolute;
}
.flippable {
    transition: 0.5s;
    transform-style: preserve-3d;
}

.flipme {
    transform: rotateY(180deg);
}

.slide {
  transform: translateX(20rem);
}

.door, .front, .back, .success{
    width: 18rem;
    height: 25rem;
    line-height: 100%;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
}

.front, .back, .success {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

.front {
    z-index: -1;
}

.back {
    transform: rotateY(180deg);
    font-size: 1.8rem;
    font-family: Verdana;
    padding-top: 5rem;
}

.success {
    z-index: -1;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana;
    padding-top: 5rem;
    visibility: hidden;
    transform: translate3d(0);
}
.success h5 {
    font-size: 3.1rem;
}

.control {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 90%;
    margin-left: 1%; 
}

.text-box {
    border-radius: 5px;
    padding: 1.25rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);;
    margin-left: -3.75rem;
    box-shadow: 0 1rem 2rem rgb(0,0,0,.2);
}

input {
    width: 22.25rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    transition: all .2s;
    text-decoration: none;
}

.btn--next {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    right: 6rem;
    height: 4.5rem;
    width: 4.5rem;
    margin-left: -8.5rem;
    visibility: hidden;
}
.btn:active {
    transform: translateY(-2rem);
    box-shadow: 0 4rem 1.8rem rgb(0,0,0,.2);
}

.door:hover {
    box-shadow: 0 1rem 1rem rgb(0,0,0,.2);
}

.deck:hover {
    transform: translateY(-.3rem);
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1rem rgb(0,0,0,.2);
}
