
body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    height: 100vh;
}

.container {
    /* margin-top: 20vh; */
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 20rem;
    margin: auto;
    margin-top: 5%;
    /* margin-left: 32.75%; */
    /* margin-left: 15rem; */
    position: relative;
    top:0;bottom:0;left:0;right:0;
    background-position: top;
}

.deck {
  position: relative;
  height: 25rem;
}

.door, .door2 {
    perspective: 1000px;
    /* margin-left: 1rem; */
    float: left;
    cursor: pointer;
    position: absolute;
}
.flippable {
    transition: 0.5s;
    transform-style: preserve-3d;
}

.flipme {
    transform: rotateY(180deg);
}

.door, .door2, .front, .back, .success{
    width: 18rem;
    height: 25rem;
    line-height: 100%;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
}


.front, .back, .success {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    /* left: 0; */
}

.front {
    z-index: -1;
}

.back {
    transform: rotateY(180deg);
    font-size: 1.8rem;
    font-family: Verdana;
    /* margin-left: -6rem; */
    /* top: 5rem; */
    padding-top: 5rem;
  }

.success {
    z-index: -1;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana;
    /* margin-left: -6rem; */
    /* top: 5rem; */
    padding-top: 5rem;
    /* visibility: hidden; */
}
.success h5 {
    font-size: 3.1rem;
}

.control {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
    top: 20%;
    width: 30rem;
    /* float: left; */
    /* margin-bottom: 70%; */
    /* margin-left: 32.75%; */ 
    background-position: top;
}

.text-box {
    border-radius: 5px;
    padding: 1.25rem;
    /* width: 25.5rem; */
    border: 1px solid black;
    background: aquamarine;
    margin-left: 2.5rem;
}

input {
    width: 22.25rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    transition: all .2s;
    text-decoration: none;
}

.btn--next {
    background-color: rgb(9, 209, 9);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    right: 6rem;
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 1rem;
    visibility: hidden;
}
.btn:active {
    /* in relation to initial state, not any other state */
    transform: translateY(-2rem);
    box-shadow: 0 4rem 1.8rem rgb(0,0,0,.2);
}
.btn:hover {
    /* top is negative, bottom is positive on y axis */
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1rem rgb(0,0,0,.2);
}