.holbie-select-component,
.holbie-signin-component {
  width: 33%;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  transform: translate(0, -100%);
}

.holbie-select-component * {
  /*margin-right: auto;*/
}

.holbie-select-container {
  margin: 2%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#holbie-deck-selector {
  margin: 0 auto;
}

.holbie-status {
  text-align: center;
}

#holbie-signin {
  width: 100%;
}

#holbie-signin input {
  display: block;
  width: 50%;
  margin: 1% auto;
  border: 2px solid black;
  border-radius: 10%;
  font-size: 1.25rem;
}

#holbie-signin input[type=submit] {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .holbie-select-component,
  .holbie-signin-component {
    transform: translate(0, -25%);
    padding-top: 10%;
    width: 100%;
  }

  #holbie-signin input {
    width: 75%;
  }
}
