
html {
  height: 100%;
  width: 100%;
}
body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.logo {
  object-fit: contain;
  width: 8rem;
  height: 8rem;
  background: url("../images/doorCloseWhite.svg") no-repeat;
  display: relative;
  margin-left: 3%;
  margin-top: 2%;
  animation-name: moveInLeft;
}
.logo:hover {
  background: url("../images/doorOpenWhite.svg") no-repeat;
}

input {
  width: 22.25rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  transition: all .2s;
  text-decoration: none;
}
.btn:active {
  transform: translateY(-2rem);
  box-shadow: 0 4rem 1.8rem rgb(0,0,0,.2);
}
.deck:hover {
  transform: translateY(-.3rem);
}
.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 1rem rgb(0,0,0,.2);
}
.header-primary {
  color: aliceblue;
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  margin-left: 5%;
  margin-top: -1%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

h2 {
  display: inline-block;
}
.header-primary--main {
  display: block;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
  
.btn {
  /* display: inline-flex; */
  clip-path: polygon(100% 46%, 0% 100%, 0 0);
  height: 30px;
  width: 30px;
}

.header-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1.5rem;
  animation-delay: 1s;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}