header {
  border-bottom: .4rem solid grey;
  margin-top: 3px;
}
.logo {
  object-fit: contain;
  width: 6rem;
  height: 5rem;
  background: url("../images/doorClose80px.svg") no-repeat;
  margin-left: 1%;
  margin-top: 0%;
  animation-name: moveInLeft;
}

.logo:hover {
  background: url("../images/doorOpen80px.svg") no-repeat;
}

.bttn--deck:hover {
  box-shadow: 0 1rem 1rem rgb(0,0,0,.2);
}

.home-component {
  display: block;
  color: black;
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  margin-left: 5%;
  margin-top: 1%;
  text-align: center;
}

h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.home-component--main {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
}
.bttn-container {
  display: inline-block;
  margin-top: 7.5%;
}

.deck-selector {
  flex-direction: row;
  text-align: left;
  text-transform: none;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: black;
}

.bttn--deck {
  display: inline-flex;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  height: 3rem;
  width: 3rem;
  background-color: blue;
  cursor: pointer;
  vertical-align: middle;
  margin-right: .3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.bttn--deck:hover {
  transform: translateX(.6rem);
}

.bttn--animated {
  animation-name: moveOutRight;
  animation-duration: 1s;
}

.home-component--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  letter-spacing: 1.5rem;
  animation-delay: 1s;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  /* before animation starts */
  0% {
      visibility: hidden;
      opacity: 0;
      transform: translate(10rem);
  }
  80% {
      transform: translate(-0.2rem);
  }
  /* animation ends */
  100% {
      opacity: 1;
      transform: translate(0);
      visibility: visible;
  }
}
@keyframes moveOutRight {
  /* before animation starts */
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    /* visibility: hidden; */
    opacity: 0;
    transform: translateX(30rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(-30rem);
    visibility: visible;
  }
  80% {
    transform: translateX(.2rem);
  }
  100% {
    transform: translateX(0);
  }
}