* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  height: 91.5%;
  width: 100%;
  top: 8.5%;
  background-image: linear-gradient(15deg, #62137a 0%, #d08080 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  position: relative;
}
header {
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: .4rem solid grey;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.logo {
  position: absolute;
  left: 0;
  height: 5rem;
  width: 5rem;
  background: url("../images/doorClose80px.svg") no-repeat;
  background-size: 100% 100%;
  margin-left: 1%;
}
.logo:hover {
  background: url("../images/doorOpen80px.svg") no-repeat;
  background-size: 100% 100%;
}
.timer {
    font-size: 2rem;
    display: none;
}
.bttn--algo {
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  background: black;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  margin: 0;
  background: radial-gradient(circle at 20px 20px, #493cff, #000);
}
.bttn--algo-red {
  background: radial-gradient(circle at 20px 20px, #ff5c5c, #000);
}
.signin-component {
  color: indigo;
  position: absolute;
  padding-right: 1rem;
  right: 0;
}
.main-container {
  width: 100%;
  height: 90%;
}
@media only screen and (max-width: 600px) {
  header {
    position: relative;
    z-index: 0;
    height: 14%;
  }
  .main-container {
    height: 100%;
  }
  body {
    top: 0%;
    height: 100%;
  }
  body, html {
    height: 100vh;
  }
}
