.summary-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.summary-overlay:target {
  opacity: 1;
  visibility: visible;
}

.summary-component {
  display: flex;
  position: absolute;
  flex-direction: row;
  text-align: center;
  width: 50%;
  height: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 1rem;
  padding: 1rem;
  padding-top: .25rem;
  vertical-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.card-bar-chart svg {
}

.bttn--summary {
  font-size: 1.25rem;
  border-radius: .5rem;
  padding: 0.5rem;
  margin: 0.1rem;
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border: 1px solid grey;
  transition: all 0.2s ease 0s;
  text-align: center;
}

.bttn--summary:hover {
  box-shadow: 0 0rem 1.8rem rgb(0,0,0,.2);
  background-image: linear-gradient(to bottom, #CEDCE7, #596a72);
}

.bttn--summary.card-bar-chart--bttn-demo {
  margin-left: 16%;
}

.bttn--summary.bttn-end-summary {
  position: absolute;
  right: 0;
}


.summary-template {
  margin: auto;
  padding-top: 2rem;
}

h3.summary-title {
  font-size: 2.2rem;
}

p.summary {
}

p.summary-emoji {
  font-size: 5rem;
}

p.summary-conditional {
  font-style: italic;
}

p.summary-score span {
  text-decoration: underline;
}

p.summary-motivational, p.summary-score, p.summary-conditional {
  font-size: 1.5rem;
}