.summary-component {
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  width: 50%;
  margin: auto;
}

.chart-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.card-bar-chart {
}

.btn2.card-bar-chart--btn-demo {
  position: absolute;
  right: 0;
}

.summary-template {
  margin: auto;
}

.summary-motivational, .summary-title .summary-conditional, .summary-emoji {
}