.summary-component {
  display: flex;
  /*text-align: center;*/
  position: relative;
  flex-direction: row;
  border: 1px solid red;
}

.chart-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.btn2 {
}

.btn2.card-bar-chart--btn-demo {
  position: absolute;
  right: 0;
}